/* GLOBAL containers */

body{
    margin: 0;
    width: 100%;

    font-family: Tahoma;

} 

header {
    height: 3rem;
    background-color: navy;
    color: white;
    
    display: flex;
    align-items: center;
}
    header h3 {
        color: white;
    }

    #header-title{
        width: 50%;
        padding-left: 1rem;
    }
    #header-nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        
        width: 50%;
        padding-right: 1rem;

    }

        #header-nav > *{
            margin-left: .25rem;
            margin-right: .25rem;
        }
        #header-nav a {
            color: white;
        }
        
        #header-nav i {
            color: deepskyblue;
        }
        
    
    
footer {
    text-align: center;
    font-size: 80%;

    padding-bottom: .5rem;

    position: fixed;
    bottom: 0;
    width: inherit;
}

nav {
    display: flex;
    justify-content: space-around;
}


/* GLOBAL elements */
hr{
    margin-left: 1rem;
    margin-right: 1rem;
    border-style: solid;
    border-color: lightblue;
}
    #content-main-wrapper hr{
        margin-left: 0;
        margin-right: 0;
    }

button{
    font-family: Tahoma;
    font-size: 100%;
    width: 100px;
    height:2em;
    margin: 1rem;
}

input{
    font-family: Tahoma;
    font-size: 100%;
    padding-left: 5px;
    width: 250px;
    height:2em;
}

a:link{
    text-decoration: none;    
}
a:hover{
    text-decoration: underline;    
}

table{
    margin: auto;
}

h3 {
    color: navy;
}


/* WRAPPERS & CONTAINERS */


#search-bars{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}
    
#content-main-wrapper{
    margin: 1rem;
}


#login-container{
    width: 300px;
    height: 240px;
    border: 2px solid grey;
    padding: 10px;
}

    


/* CLASSES */

.center-container{
    margin: 0 auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.btn{

}

.btn-mainpage{
    width: 240px;
    height: 60px;
    font-size: 125%;
    color: white;
    background-color: grey;
}

.btn-search{
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    background-color: grey;
    color: white;
}


/* specific elements */

#input-username, #input-password {
    text-align: left;
}
#login-container i {
    color: navy;
}
    
/* tickets' table */

#tbl-tickets table{
    border-spacing: .5rem;
    border-collapse: collapse;
    width: 100%;
}

#tbl-tickets td, th{
    border: 1px solid lightblue;
    padding: 0.5rem;
}

#tbl-tickets th {
    background-color: navy;
    color: white;
}