/* GLOBAL containers */

body{
    margin: 0;
    width: 100%;

    font-family: Tahoma;

} 

header {
    height: 3rem;
    background-color: navy;
    color: white;
}
    header h3 {
        color: white;
        margin: 0;
        padding-top: .5rem;
    }

footer {
    text-align: center;
    font-size: 80%;

    padding-bottom: .5rem;

    position: fixed;
    bottom: 0;
    width: inherit;
}

nav {

}


/* GLOBAL elements */
hr{
    margin-left: 1rem;
    margin-right: 1rem;
    border-style: solid;
    border-color: lightblue;
}

button{
    font-family: Tahoma;
    font-size: 100%;
    width: 100px;
    height:2em;
    margin: 1rem;
}

input{
    font-family: Tahoma;
    font-size: 100%;
    padding-left: 5px;
    width: 250px;
    height:2em;
}

a:link{
    text-decoration: none;    
}
a:hover{
    text-decoration: underline;    
}

table{
    margin: auto;
}

h3 {
    color: navy;
}


/* WRAPPERS & CONTAINERS */
#header-title{
    float: left;
    width: 55%;
    padding-left: 1rem;
    text-align: left;
}
#header-nav{
    float: right;
    width: 40%;
    padding-right: 1rem;
    text-align: right;
}
    #header-nav a {
        color: white;
    }

#search-bars{
    margin: 1rem;
}
    
#content-main-wrapper{
    margin: 1rem;
}
    /* tickets' table */
    
    #content-main-wrapper table{
        border-spacing: .5rem;
        border-collapse: collapse;
        width: 100%;
    }

    #content-main-wrapper td, th{
        border: 1px solid lightblue;
        padding: 0.5rem;
    }

    #content-main-wrapper th {
        background-color: navy;
        color: white;
    }

#login-container{
    width: 300px;
    height: 240px;
    border: 2px solid grey;
    padding: 10px;
}


/* CLASSES */

.center-container{
    margin: 0 auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.btn{

}

.btn-mainpage{
    width: 240px;
    height: 60px;
}


/* specific elements */

#inputUsername, #inputPassword {
    text-align: left;
}
